<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>TimeTracker</h1>

      <hr>
      <form [formGroup]="formdata" (ngSubmit)="newProject(formdata.value)">
        <div class="row">
          <div class="col-sm-8"><input class="form-control" type="text" name="title" placeholder="New Project (min. two letters)"
              formControlName="title" /></div>
          <div class="col-sm-4"><input class="btn btn-primary" type="submit" [disabled]="!formdata.valid" value="Add" /></div>
        </div>
      </form>
      <div *ngIf="successMessage" class="py-1">
        <ngb-alert type="success" [dismissible]="false">{{ successMessageText }}</ngb-alert>
      </div>
      <div *ngIf="errorMessage" class="py-1">
        <ngb-alert *ngIf="errorMessage" type="warning" [dismissible]="false">{{ errorMessageText }}</ngb-alert>
      </div>
        
      <hr>
      <div *ngIf="Projects && Projects.length > 0">
        <h2>{{mainTitle}}</h2>
        <hr>
        <div>
          <ul class="list-group">

            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let Project of Projects" [style.text-decoration]="Project.status == 1 ? 'line-through' : ''">

              <span *ngIf="Project.id !== index">{{Project.title}}</span>

                <div *ngIf="Project.id !== index" class="btn-group float-right" role="group" aria-label="controls">
                  <button type="button" [style.display]="Project.status == 1 ? 'none' : '' " (click)="openTimeRegistrations(Project)"
                    class="btn btn-secondary"><i class="fa fa-clock-o"></i></button>
                  <button type="button" [style.display]="Project.status == 1 ? 'none' : '' " (click)="closeProject(Project)"
                    class="btn btn-secondary"><i class="fa fa-check"></i> </button>
                  <button type="button" [style.display]="Project.status == 0 ? 'none' : '' " (click)="openProject(Project)"
                    class="btn btn-secondary"> <i class="fa fa-refresh"></i></button>
                </div>
            </li>
          </ul>

          <nav *ngIf="total_Project > per_page" aria-label="Page navigation">
            <ul class="pagination">
              <li *ngIf="disablePrev">
                <a (click)="pageNumber(current_page - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li *ngFor="let number of last_page;let i = index"><a (click)="pageNumber(i+1)" [style.text-decoration]="current_page == i+1 ? 'line-through' : ''">{{
                  i+1 }}</a></li>
              <li *ngIf="disableNext">
                <a (click)="pageNumber(current_page + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</div>